@font-face {
  font-family: "IRANSans-web-fa";
  src: url('../fonts/IRANSans-web-fa.ttf') format("truetype");
  font-weight: normal !important;
  font-style: normal !important;
}

html {
  font-size: 62.5%;
  text-rendering: geometricPrecision;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "YekanBakh-Regular";
  background: #fefcff;
  font-family: "IRANSans-web-fa";
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.noscroll {
  overflow-y: hidden;
}

* {
  font-weight: normal !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:focus {
  color: #26abe2;
  text-decoration: none !important;
  outline: none;
}

textarea:focus,
button:focus,
input:focus,
select:focus {
  outline: 0 !important;
}

a:focus,
textarea:focus,
input:focus,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.clearfix {
  zoom: 1;
}

i {
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

li {
  display: inline-block;
}

p {
  padding: 0;
  margin: 0;
}

.border-top {
  border-top: 1px solid var(--bg-border) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--bg-border) !important;
}

.border-right {
  border-right: 1px solid var(--bg-border) !important;
}

.border-left {
  border-left: 1px solid var(--bg-border) !important;
}

.border {
  border: 1px solid var(--bg-border) !important;
}

/* ------------------------------*/
/*-------------#:root------------*/
/*-------------------------------*/
:root {
  --bg-color: #f5f5f4;
  --text-color: #333;
  --sidebar-bg: #fff;
  --sidebar-text: #444;
  --border-color: #ddd;
  --hover-bg: #edf2fa;
  --hover-text: #000;
  --bg-green: #05df72;
  --bg-border: #e1e1e1;
  --text-orange: #bb8100;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --sidebar-bg: #1e1e1e;
  --sidebar-text: #ccc;
  --border-color: #333;
  --hover-bg: #333;
  --hover-text: #fff;
  --bg-green: #06723c;
  --bg-border: #565656;
  --text-orange: #fdc13c;

}

.text-orange {
  color: #fdc13c;
}

.font-weight-bold {
  font-weight: bold !important;
}

/* ------------------------------*/
/*-------------#font-size--------*/
/*-------------------------------*/
.font-7 {
  font-size: .7rem;
}

.font-8 {
  font-size: .8rem;
}

.font-9 {
  font-size: .9rem;
}

.font-10 {
  font-size: 1rem;
}

.font-11 {
  font-size: 1.1rem;
}

.font-12 {
  font-size: 1.2rem;
}

.font-13 {
  font-size: 1.3rem;
}

.font-14 {
  font-size: 1.4rem;
}

.font-15 {
  font-size: 1.5rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-17 {
  font-size: 1.7rem;
}

.font-18 {
  font-size: 1.8rem;
}

.font-19 {
  font-size: 1.9rem;
}

.font-20 {
  font-size: 2rem;
}

.font-21 {
  font-size: 2.1rem;
}

.font-22 {
  font-size: 2.2rem;
}

.font-23 {
  font-size: 2.3rem;
}

.font-24 {
  font-size: 2.4rem;
}

.font-25 {
  font-size: 2.5rem;
}

.font-26 {
  font-size: 2.6rem;
}

.font-27 {
  font-size: 2.7rem;
}

.font-28 {
  font-size: 2.8rem;
}

.font-29 {
  font-size: 2.9rem;
}

.font-30 {
  font-size: 3rem;
}

.font-31 {
  font-size: 3.1rem;
}

.font-32 {
  font-size: 3.2rem;
}

.font-33 {
  font-size: 3.3rem;
}

.font-34 {
  font-size: 3.4rem;
}

.font-35 {
  font-size: 3.5rem;
}

.font-36 {
  font-size: 3.6rem;
}

.font-37 {
  font-size: 3.7rem;
}

.font-38 {
  font-size: 3.8rem;
}

.font-39 {
  font-size: 3.9rem;
}

.font-40 {
  font-size: 4rem;
}

.font-41 {
  font-size: 4.1rem;
}

.font-42 {
  font-size: 4.2rem;
}

.font-43 {
  font-size: 4.3rem;
}

.font-44 {
  font-size: 4.4rem;
}

.font-45 {
  font-size: 4.5rem;
}

.font-46 {
  font-size: 4.6rem;
}

.font-47 {
  font-size: 4.7rem;
}

.font-48 {
  font-size: 4.8rem;
}

.font-49 {
  font-size: 4.9rem;
}

.font-50 {
  font-size: 5rem;
}

.font-60 {
  font-size: 6rem;
}


/* ------------------------------*/
/*-------------#my code----------*/
/*-------------------------------*/
.rounded-5 {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.rounded-10 {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.rounded-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.rounded-20 {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

.rounded-25 {
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}

.rounded-30 {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}

.rounded-35 {
  border-radius: 35px !important;
  -webkit-border-radius: 35px !important;
  -moz-border-radius: 35px !important;
  -ms-border-radius: 35px !important;
  -o-border-radius: 35px !important;
}

.rounded-40 {
  border-radius: 40px !important;
  -webkit-border-radius: 40px !important;
  -moz-border-radius: 40px !important;
  -ms-border-radius: 40px !important;
  -o-border-radius: 40px !important;
}

.rounded-50 {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}


@media (min-width :1550px) {
  .container {
    max-width: 1550px !important;
  }
}