.main-section {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);

}

.main-section .edit_input {
  color: var(--text-orange);
}

.main-section .topbar {
  padding: 5px 15px;
  height: 6rem;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sidebar-bg);
  border-bottom: 1px solid var(--border-color);
}

.main-section .topbar .btn {
  padding: 5px 10px;
}

.main-section .topbar .btn {
  border: 1px solid var(--border-color);
}

.main-section .topbar .btn i {
  font-size: 18px;
  color: var(--sidebar-text);
}

.main-section .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1040;
}

.main-section .overlay.show {
  display: block;
}

.main-section .sidebar {
  background-color: var(--hover-bg);
  margin-bottom: 15px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.main-section .sidebar a {
  padding: 15px 25px;
  display: inline-flex;
  text-decoration: none;
  color: var(--sidebar-text);
  font-size: 14px;
  min-width: 19rem;
  justify-content: center;
  align-items: center;
  white-space: normal;

}

.main-section .sidebar a.active {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  font-weight: bold;
  border-bottom: 2px solid #fdc13c;
}

.main-section .sidebar a i {
  font-size: 20px;
}


.main-section .body-user-panel .form-box {
  padding: 30px 35rem !important;
}

.main-section .body-user-panel .disable-user-account,
.main-section .body-user-panel .form-box,
.main-section .body-user-panel .subscription-status-box {
  background-color: var(--hover-bg);

}

.main-section .subscription-status-box a {
  background-color: var(--bg-green);
  color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
}

.main-section .section-user-counter .form-box .input-item input {
  width: 100%;
  height: 4.5rem;
  margin-top: 10px;
  border-radius: 5px !important;
  border: 1px solid gray !important;
  background-color: var(--sidebar-bg);
  direction: ltr;
}

.main-section .section-user-counter .input-item input {
  font-size: 13px;
  color: var(--text-color);
}

.main-section .section-user-counter .form-box .input-item:first-child {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 30px;
}

.main-section .section-user-counter .modal-dialog,
.main-section .section-user-counter .modal-dialog {
  margin: 15.75rem auto;
}

.main-section .section-user-counter .modal-header,
.main-section .section-user-counter .modal-footer {
  border-color: var(--border-color);
}

.main-section .section-user-counter #changeuser_Modal .modal-title {
  color: var(--hover-text);
}

.main-section .section-user-counter .modal-content {
  background-color: var(--sidebar-bg);
}

.main-section .section-user-counter .modal-header .btn-close {
  color: red;
  background-image: none;
}

.main-section .section-user-counter .modal-header .btn-close i {
  font-size: 25px;
  position: relative;
  top: -10px;
  left: 5px;
}

.main-section .section-myorder {
  background-color: var(--hover-bg);
  color: var(--sidebar-text);
  overflow: hidden !important;
}

.main-section .section-myorder thead tr th,
.main-section .section-myorder tbody tr td {
  font-size: 13px;
  padding: 15px !important;
  color: var(--sidebar-text);
}

.main-section .section-myorder tbody,
.main-section .section-myorder td,
.main-section .section-myorder tfoot,
.main-section .section-myorder th,
.main-section .section-myorder thead,
.main-section .section-myorder tr {
  background-color: var(--sidebar-bg) !important;

}

.main-section .section-myorder tbody .badge,
.main-section .section-myorder tbody a,
.main-section .section-myorder tbody button {
  padding: 5px !important;
  font-size: 11px !important;
  border-radius: 10px !important;
  display: flex;
  height: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-section .empty-box .image-box {
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section .empty-box .image-box img {
  width: 100%;
}

.main-section .btn-save {
  background-color: var(--bg-green);
  color: #fff !important;
  transition: background-color 0.3s ease;
  height: 5rem;
  width: 12rem;
  border-radius: 15px;
  border: none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section .section-account-selection {
  background-color: var(--hover-bg);
  padding: 30px;
  border-radius: 5px;
}

.main-section .section-account-selection p {
  line-height: 30px;
}

.main-section .btn-add,
.main-section .btn-add {
  width: 100%;
  background-color: var(--bg-green);
  border: none;
}

.main-section .section-account-selection .image-box {
  height: 25rem;
  border: 1px solid rgb(109, 109, 109);
}

.main-section .section-account-selection .image-box img {
  width: 100%;
  height: auto;
}

.main-section .account-third-stege,
.main-section .account-second-stege,
.main-section .account-first-stege {
  background-color: var(--hover-bg);
  padding: 30px;
  border-radius: 5px;
}

.main-section .account-first-stege .account-item {
  height: 11rem;
  background-color: var(--sidebar-bg);
  padding: 15px;
  border-radius: 5px;
}

.main-section .account-first-stege .account-item .image-box {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.main-section .account-first-stege .account-item .image-box img {
  width: 100%;
}

.main-section .account-first-stege .account-item .name-age-box {
  width: 20rem;
  height: 5rem;
}

.main-section .account-first-stege .account-item .btn-save {
  height: 3.5rem;
  width: 12rem;
}

.main-section .account-first-stege .account-item .edit-box {
  height: 5rem;
  width: 5rem;
}

.main-section .profile-card {
  background: #1e1e1e;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  width: 300px;
  margin: auto;
}

.main-section .profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.main-section .profile-card h2 {
  margin-top: 10px;
}

.main-section .open-modal-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

/* Modal styles */
.main-section .select-image-box .modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.main-section .select-image-box .modal {
  background: white;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.main-section .select-image-box .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section .select-image-box .modal-header h3 {
  margin: 0;
}

.main-section .close-btn {
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
}

.main-section .avatar-section {
  margin-top: 20px;
}

.main-section .avatar-section h4 {
  margin-bottom: 10px;
  color: #333;
}

.main-section .avatar-list {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding-bottom: 10px;
}

.main-section .avatar-list img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
  flex-shrink: 0;
}

.main-section .avatar-list img:hover {
  border-color: #007bff;
}

.main-section .avatar-list img.selected {
  border-color: green;
}

.main-section .create-new-account {
  background-color: var(--sidebar-bg);
  padding: 30px 30px 15px 30px;
  border-radius: 10px;
}

.main-section .create-new-account select,
.main-section .create-new-account input {
  height: 4rem;
  background-color: var(--hover-bg);
  border: none;
  border-radius: 5px;
  font-size: 13px;
  width: 30rem;
  color: var(--text-color);
}

.main-section .create-new-account .btn-cancel,
.main-section .create-new-account .btn-add {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  margin-right: 5px;
}

.main-section .btn-remove {
  cursor: pointer;
}

.main-section .border-top {
  border-top: 1px solid var(--bg-border) !important;
}

.main-section .border-bottom {
  border-bottom: 1px solid var(--bg-border) !important;
}

.main-section .border-right {
  border-right: 1px solid var(--bg-border) !important;
}

.main-section .border-left {
  border-left: 1px solid var(--bg-border) !important;
}

.main-section .border {
  border: 1px solid var(--bg-border) !important;
}

/* ------------------------------*/
/*-------------#:root------------*/
/*-------------------------------*/
:root {
  --bg-color: #f5f5f4;
  --text-color: #333;
  --sidebar-bg: #fff;
  --sidebar-text: #444;
  --border-color: #ddd;
  --hover-bg: #edf2fa;
  --hover-text: #000;
  --bg-green: #05df72;
  --bg-border: #e1e1e1;
  --text-orange: #bb8100;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --sidebar-bg: #1e1e1e;
  --sidebar-text: #ccc;
  --border-color: #333;
  --hover-bg: #333;
  --hover-text: #fff;
  --bg-green: #06723c;
  --bg-border: #565656;
  --text-orange: #fdc13c;

}

.main-section .text-orange {
  color: #fdc13c;
}

.main-section .font-weight-bold {
  font-weight: bold !important;
}

@media (max-width: 480px) {
  .main-section .avatar-list img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 991px) {

  .main-section .body-user-panel .form-box {
    padding: 15px !important;
  }

  .main-section .subscription-status-box {
    flex-direction: column;
    justify-content: start !important;
    padding: 15px !important;
  }

  .main-section .subscription-status-box div {
    width: 100%;
  }

  .main-section .subscription-status-box a {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-section .section-user-counter .modal-dialog,
  .main-section .section-user-counter .modal-dialog {
    margin: 15.75rem 15px;
  }

  .main-section .disable-user-account {
    padding: 15px !important;
    flex-direction: column;
    text-align: center;
  }

  .main-section .disable-user-account a {
    margin-top: 15px;
  }

  .main-section .section-account-selection {
    flex-direction: column;
  }

  .main-section .section-account-selection .description-right {
    margin-bottom: 15px !important;

  }

  .main-section .section-account-selection .image-box {
    width: 100%;
    height: auto;
  }

  .main-section .section-account-selection .description-right,
  .main-section .section-account-selection .image-left {
    width: 100% !important;
    padding: 0 !important;
    margin-right: 0 !important;
  }

  .main-section .section-account-selection .title {
    font-size: 15px !important;
  }

  .main-section .section-account-selection p {
    text-align: justify;
    font-size: 13px !important;
    line-height: 25px;

  }

  .main-section .account-first-stege .account-item {
    flex-direction: column;
    height: auto;
  }

  .main-section .account-first-stege .account-item .name-age-box {
    margin-bottom: 15px;
  }

  .main-section .account-first-stege .account-item .image-box {
    margin-bottom: 15px;
  }

  .main-section .account-first-stege .account-item .edit-box {
    position: absolute;
    top: 0;
    right: 0px;
  }

  .main-section .create-new-account {
    flex-direction: column;
  }

  .main-section .create-new-account .select-image-box {
    text-align: center;
    margin-bottom: 15px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-section .body-user-panel .form-box {
    padding: 15px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1550px) {}